.second_popup_container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 991px) {
    flex-direction: column;
  }
  .pic_newNumber_control {
    width: 40%;
    padding: 10px 30px;
    @media (max-width: 991px) {
      width: 100%;
    }
    .pic_number_tag {
      color: #000;
      font-size: 26px;
      font-weight: 300;
      text-transform: capitalize;
      span {
        font-weight: 600;
      }
    }
    .numbers_tab {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      border-bottom: 1px solid #e2e2e2;
      padding: 0 30px 0 0;
      .get_new_number {
        color: #000;
        font-size: 14px;
        font-weight: 300;
        text-transform: capitalize;
        cursor: pointer;
        padding-bottom: 15px;
      }
      .activeNumberClass {
        color: #409eee;
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        padding-bottom: 15px;
        border-bottom: 3px solid #409eee;
      }
    }
    .select_newNumber {
      margin-top: 25px;
      .select_state {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 10px;
      }
      select {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #d4d4d4;
        background: #fff;
        padding: 10px 20px 10px 10px;
        outline: none;
      }
      .allMobile_numbers {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 25px;
        .numbers_options {
          color: #000;
          font-size: 12px;
          font-weight: 500;
          text-transform: capitalize;
          border-radius: 2px;
          background: rgba(64, 158, 238, 0.1);
          padding: 8px 12px;
          cursor: pointer;
          border: 1px solid rgba(255, 255, 255, 0.1);
        }

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;

          .numbers_options {
            width: 100%;
            text-align: center;
          }
        }
      }

      .viewmore {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
        .view_more_txt {
          color: #409eee;
          font-size: 14px;
          font-weight: 400;
          text-transform: capitalize;
          text-align: center;
          cursor: pointer;
        }
      }
      .first_next_btn {
        margin-top: 20px;
        display: flex;
        gap: 10px;

        .back_btn {
          color: #409eee;
          font-size: 16px;
          font-weight: 500;
          text-transform: capitalize;
          border-radius: 4px;
          background: transparent;
          border: none;
          padding: 8px 5px;
          border-radius: 4px;
          border: 2px solid #409eee;
          display: flex;
          align-items: center;
          gap: 10px;
          span {
            margin: 0 20px 0 0px;
          }
          svg {
            margin: 5px 5px 5px 10px;
          }
        }
        .next_btn {
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          text-transform: capitalize;
          border-radius: 4px;
          border: none;
          padding: 8px 5px;
          border-radius: 4px;
          background: #0a22a8;
          span {
            margin: 0 10px 0 25px;
          }
          svg {
            margin: 5px 10px;
          }
        }
      }
      input {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #d4d4d4;
        background: #fff;
        padding: 10px 20px 10px 10px;
        outline: none;
      }
      .filesUpload_div {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-top: 20px;
        .upload_loa_box {
          width: 100%;
          .upload_control {
            border-radius: 4px;
            border: 1px dashed #409eee;
            background: #f3faff;
            padding: 15px 15px 25px 15px;
            margin-top: 10px;
            .upload_img_div {
              text-align: center;
            }
            .upload_control_txt {
              color: #545b61;
              font-size: 14px;
              font-weight: 400;
              text-transform: capitalize;
              text-align: center;
            }
            .files_accept {
              color: #141c21;
              font-size: 12px;
              font-weight: 300;
              text-transform: capitalize;
              text-align: center;
              margin: 6px 0;
            }
            .upload_files_btn {
              text-align: center;
              label {
                color: #fff;
                font-size: 10px;
                font-weight: 500;
                text-transform: capitalize;
                border-radius: 2px;
                background: #0a22a8;
                padding: 5px 8px;
                cursor: pointer;
              }
              input {
                display: none;
              }
            }
            .selectedFileName {
              text-align: center;
              margin-bottom: 10px;
              word-wrap: break-word;
            }
          }
        }
      }
      .download_loa {
        display: flex;
        align-items: center;
        gap: 30px;
        color: #0a22a8;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        text-transform: capitalize;
        margin-top: 15px;
        a {
          color: #0a22a8;
          font-style: normal;
          font-weight: 500;
        }
        .add_billing {
          display: flex;
          gap: 10px;
          align-items: center;
          cursor: pointer;
        }
      }
      .signedLoa {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        margin-top: 15px;
      }
      .please_upload {
        color: #000;
        font-size: 12px;
        font-weight: 300;
        margin-top: 5px;
      }
    }
  }
}
.darkHeader {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  @media (max-width: 991px) {
    flex-direction: column;
  }
  .pic_newNumber_control {
    width: 40%;
    padding: 10px 30px;
    @media (max-width: 991px) {
      width: 100%;
    }
    .pic_number_tag {
      color: #fff;
      font-size: 26px;
      font-weight: 600;
      text-transform: capitalize;
      span {
        font-weight: 400;
        color: #fff;
      }
    }
    .numbers_tab {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.24);
      padding: 0 30px 0 0;
      .get_new_number {
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        font-weight: 300;
        text-transform: capitalize;
        cursor: pointer;
        padding-bottom: 15px;
      }
      .activeNumberClass {
        color: #409eee;
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        padding-bottom: 15px;
        border-bottom: 3px solid #409eee;
      }
    }
    .select_newNumber {
      margin-top: 25px;
      .select_state {
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 10px;
      }
      select {
        width: 100%;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.13);
        padding: 10px 20px 10px 10px;
        outline: none;
        color: rgba(255, 255, 255, 1);
        option {
          color: black;
        }
      }
      .allMobile_numbers {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 25px;
        .numbers_options {
          color: rgb(255, 255, 255);
          font-size: 12px;
          font-weight: 500;
          text-transform: capitalize;
          border-radius: 2px;
          background: rgba(255, 255, 255, 0.13);
          padding: 8px 12px;
          cursor: pointer;
          border: 1px solid rgba(255, 255, 255, 0.1);
        }

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;

          .numbers_options {
            width: 100%;
            text-align: center;
          }
        }
      }

      .viewmore {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
        .view_more_txt {
          color: #409eee;
          font-size: 14px;
          font-weight: 400;
          text-transform: capitalize;
          text-align: center;
          cursor: pointer;
        }
      }
      .first_next_btn {
        margin-top: 20px;
        display: flex;
        gap: 10px;

        .back_btn {
          color: #409eee;
          font-size: 16px;
          font-weight: 500;
          text-transform: capitalize;
          border-radius: 4px;
          background: transparent;
          border: none;
          padding: 8px 5px;
          border-radius: 4px;
          border: 2px solid #409eee;
          display: flex;
          align-items: center;
          gap: 10px;
          span {
            margin: 0 20px 0 0px;
          }
          svg {
            margin: 5px 5px 5px 10px;
          }
        }
        .next_btn {
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          text-transform: capitalize;
          border-radius: 4px;
          border: none;
          padding: 8px 5px;
          border-radius: 4px;
          background: #0a22a8;
          span {
            margin: 0 10px 0 25px;
          }
          svg {
            margin: 5px 10px;
          }
        }
      }
      .input_text {
        width: 100%;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.13);
        padding: 10px 20px 10px 10px;
        color: #fff;
        outline: none;
      }
      .input_text ::placeholder {
        color: rgba(255, 255, 255, 1);
        font-weight: 300;
      }
      .filesUpload_div {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-top: 20px;
        .upload_loa_box {
          width: 100%;
          color: rgba(255, 255, 255, 1);
          font-weight: 400;
          font-size: 14px;
          .upload_control {
            border-radius: 4px;
            border: 1px dashed #409eee;
            // background: #f3faff;
            padding: 15px 15px 25px 15px;
            margin-top: 10px;
            .upload_img_div {
              text-align: center;
            }
            .upload_control_txt {
              color: rgba(255, 255, 255, 1);
              font-size: 14px;
              font-weight: 300;
              text-transform: capitalize;
              text-align: center;
            }
            .files_accept {
              color: rgba(255, 255, 255, 1);
              font-size: 12px;
              font-weight: 300;
              text-transform: capitalize;
              text-align: center;
              margin: 6px 0;
            }
            .upload_files_btn {
              text-align: center;
              label {
                color: #fff;
                font-size: 10px;
                font-weight: 500;
                text-transform: capitalize;
                border-radius: 2px;
                background: #0a22a8;
                padding: 5px 8px;
                cursor: pointer;
              }
              input {
                display: none;
              }
            }
            .selectedFileName {
              text-align: center;
              margin-bottom: 10px;
              word-wrap: break-word;
            }
          }
        }
      }
      .download_loa {
        display: flex;
        align-items: center;
        gap: 30px;
        color: #409eee;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        text-transform: capitalize;
        margin-top: 15px;
        a {
          color: #409eee;
          font-style: normal;
          font-weight: 500;
        }
        .add_billing {
          display: flex;
          gap: 10px;
          align-items: center;
          cursor: pointer;
        }
      }
      .signedLoa {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        margin-top: 15px;
      }
      .please_upload {
        color: #000;
        font-size: 12px;
        font-weight: 300;
        margin-top: 5px;
      }
    }
  }
}
