.darkHeader {
  background: rgb(20, 20, 20);
  height: 100vh;
  overflow-y: scroll;
  .dashboard_container {
    background: rgb(20, 20, 20);
    width: 100%;
    display: flex;
    position: relative;
    // height: 100vh;

    @media (max-width: 991px) {
      // position: relative;
      // height: 100vh;
    }

    .left_sidebar {
      width: 20%;
      background-color: rgb(33, 33, 33);
      color: #fff;
      display: flex;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      @media (max-width: 991px) {
        display: none;
      }

      .sidebar_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .logout_btn {
          // margin-bottom: 30px;
          text-align: center;
          background: rgba(39, 39, 39, 1);
          cursor: pointer;
          // margin: 0 20px 20px 20px;
          color: #000;
          font-size: 16px;
          font-weight: 400;
          padding: 15px 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;
          bottom: 0px;
          justify-content: center;

          .logout_button {
            color: #fff;
          }
        }
      }
      .logout_version {
        display: flex;
        justify-content: space-between;
        padding: 20px;
      }

      .img_logo {
        background: rgba(25, 25, 27, 1);
        // border-right: 1px solid rgba(255, 255, 255, 0.27);
        padding: 15px;
        // margin-bottom: 5px;
        text-align: center;

        img {
          max-width: 100%;
          height: 45px;
          width: 165px;
        }
      }

      // @media (max-width: 1249px) {
      //   display: none;
      // }
    }

    .resp_sidebar {
      display: flex;
      flex-direction: column;

      @media (max-width: 991px) {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(25, 25, 27, 1);
        z-index: 999;
        width: 40%;

        .img_logo {
          display: flex;
          justify-content: center;
          img {
            color: transparent;
            height: 84px;
            width: 221px;
            margin-left: 7px;
            padding: 10px;
          }
        }
      }

      @media (max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(25, 25, 27, 1);
        z-index: 999;
        width: 60%;
      }

      @media (max-width: 767px) {
        .img_logo {
          img {
            color: transparent;
            height: 75px;
            width: 185px;
            margin-left: 7px;
            padding: 10px;
          }
        }
      }

      .sidebar_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // height: 100%;

        @media (max-width: 991px) {
          height: auto;
        }

        .logout_btn {
          // margin-bottom: 30px;
          text-align: center;
          background: rgba(255, 255, 255, 0.06);
          cursor: pointer;
          // margin: 0 0px 20px 0px;
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          padding: 15px 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;
          bottom: 0px;
          justify-content: center;

          // .logout_button {
          // }
        }
      }
    }

    .right_dashboard {
      width: 80%;
      margin-left: auto;

      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
}
.lightHeader {
  height: 100vh;
  overflow-y: scroll;
  background: #f8f9fe;
  .dashboard_container {
    width: 100%;
    display: flex;

    @media (max-width: 991px) {
      position: relative;
    }

    .left_sidebar {
      width: 20%;
      background: #fff;
      // box-shadow: 0px 4px 34px 0px rgba(193, 193, 193, 0.25);
      display: flex;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      @media (max-width: 991px) {
        display: none;
      }

      .sidebar_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .logout_btn {
          // margin-bottom: 30px;
          text-align: center;
          background: #f5f5f5;
          cursor: pointer;
          // margin: 0 20px 20px 20px;
          color: #000;
          font-size: 16px;
          font-weight: 400;
          padding: 15px 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;

          // .logout_button {
          // }
        }
      }
      .logout_version {
        display: flex;
        justify-content: space-between;
        padding: 20px;
      }
      .img_logo {
        background: #fff;
        // border-right: 1px solid rgba(255, 255, 255, 0.27);
        padding: 15px;
        // margin-bottom: 5px;
        text-align: center;

        img {
          max-width: 100%;
          height: 45px;
          width: 165px;
        }
      }
    }

    .resp_sidebar {
      height: 100vh;
      display: flex;
      flex-direction: column;

      @media (max-width: 991px) {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 999;
        width: 40%;

        .img_logo {
          display: flex;
          justify-content: center;
          img {
            color: transparent;
            height: 84px;
            width: 221px;
            margin-left: 7px;
            padding: 10px;
          }
        }
      }

      @media (max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 999;
        width: 60%;
      }

      @media (max-width: 767px) {
        .img_logo {
          img {
            color: transparent;
            height: 75px;
            width: 185px;
            margin-left: 7px;
            padding: 10px;
          }
        }
      }

      .sidebar_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .logout_btn {
          // margin-bottom: 30px;
          text-align: center;
          background: #f5f5f5;
          cursor: pointer;
          // margin: 0 20px 20px 20px;
          color: #000;
          font-size: 16px;
          font-weight: 400;
          padding: 15px 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;

          .logout_button {
            color: #000;
          }
        }
      }
    }

    .right_dashboard {
      width: 80%;
      margin-left: auto;

      @media (max-width: 991px) {
        width: 100%;
        height: 100vh;
      }
    }
  }
}
