.lightHeader {
  .second_part {
    padding: 100px 0px;
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column-reverse;
    }
    @media (max-width: 767px) {
      padding: 40px 0px;
    }
    @media (max-width: 481px) {
      padding: 30px 0px;
    }
    .second_left {
      .second_left_img {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 90%;
          height: auto;
          @media (min-width: 992px) and (max-width: 1200px) {
            padding-top: 100px;
          }
        }
      }
    }
    .second_right {
      padding: 50px 0px 50px 40px;
      @media (max-width: 991px) {
        padding: 0px 0px 100px 10px;
      }
      h4 {
        color: #0a22a8;
        font-size: 35px;
        font-weight: 500;
        letter-spacing: 0.7px;
        text-transform: capitalize;

        @media (max-width: 481px) {
          font-size: 30px;
        }
      }
      h3 {
        color: #1f243f;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 30px;
        line-height: 60px;
        @media (max-width: 481px) {
          font-size: 36px;
          line-height: 40px;
        }
      }
      .btn_head2 {
        display: flex;
        gap: 15px;
        padding: 10px 20px;
        background-color: #0a22a8;
        border: none;
        @media (max-width: 991px) {
          width: 50%;
        }
        @media (max-width: 481px) {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
      p {
        color: #202844;
        font-size: 14px;
        font-weight: 300;
        line-height: 31px; /* 221.429% */
        letter-spacing: 0.28px;
        margin-bottom: 30px;
      }
    }
  }
  .modal_wrapper {
    border-radius: 10px;
    background: #fff;
  }
  .modal_wrapper2 {
    h4 {
      color: #000;
      font-size: 22px;
      text-align: center;
      font-weight: 600;
      line-height: 20px;
      margin: 10px 0px;
      @media (max-width: 320px) {
        font-size: 20px;
      }
    }
    .lab_name_div {
      display: flex;
      @media (max-width: 481px) {
        flex-direction: column;
      }
      .lab_name {
        display: flex;
        flex-direction: column;
        width: 50%;
        @media (max-width: 481px) {
          width: 100%;
        }
        label {
          color: #000;
          font-size: 14px;
          font-weight: 400;
          line-height: 10px;
          letter-spacing: 0.28px;
          text-transform: capitalize;
          margin: 15px 0px;
          @media (max-width: 320px) {
            font-size: 13px;
          }
        }
        input {
          border-radius: 4px;
          border: 1px solid #e8e8e8;
          background: #f5f5f5;
          padding: 10px;
          width: 90%;
          outline: none;
          @media (max-width: 481px) {
            width: 100%;
          }
        }
        .datepicker_input {
          border-radius: 4px;
          border: 1px solid #e8e8e8;
          background: #f5f5f5;
          padding: 10px;
          width: 90%;
          color: #767676;

          outline: none;
          @media (max-width: 481px) {
            width: 100%;
          }
        }
      }
    }
    .lab_name_add {
      .lab_names {
        display: flex;
        flex-direction: column;

        label {
          color: #000;
          font-size: 14px;
          font-weight: 400;
          line-height: 10px;
          letter-spacing: 0.28px;
          text-transform: capitalize;
          margin: 15px 0px;
        }
        .text_area {
          border-radius: 4px;
          border: 1px solid #e8e8e8;
          background: #f5f5f5;
          outline: none;
        }
      }
    }
    .btn_div_modal {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0px;
      button {
        border-radius: 4px;
        background: #0a22a8;
        border: none;
        padding: 10px;
      }
    }
  }
}
.darkHeader {
  .second_part {
    padding: 100px 0px;
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column-reverse;
    }
    @media (max-width: 767px) {
      padding: 40px 0px;
    }
    @media (max-width: 481px) {
      padding: 30px 0px;
    }
    .second_left {
      .second_left_img {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 90%;
          height: auto;
          @media (min-width: 992px) and (max-width: 1200px) {
            padding-top: 100px;
          }
        }
      }
    }
    .second_right {
      padding: 50px 0px 50px 40px;
      @media (max-width: 991px) {
        padding: 0px 0px 100px 10px;
      }
      h4 {
        color: #ffffff;
        font-size: 35px;
        font-weight: 500;
        letter-spacing: 0.7px;
        text-transform: capitalize;

        @media (max-width: 481px) {
          font-size: 30px;
        }
      }
      h3 {
        color: #ffffff;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 30px;
        line-height: 60px;
        @media (max-width: 481px) {
          font-size: 36px;
          line-height: 40px;
        }
        span {
          color: #409eee;
        }
      }
      .btn_head2 {
        display: flex;
        gap: 15px;
        padding: 10px 20px;
        background-color: #0a22a8;
        border: none;
        @media (max-width: 991px) {
          width: 50%;
        }
        @media (max-width: 481px) {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
      p {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 31px; /* 221.429% */
        letter-spacing: 0.28px;
        margin-bottom: 30px;
      }
    }
  }
  .modal_wrapper {
    border-radius: 10px;
    background: #fff;
  }
  .modal_wrapper2 {
    h4 {
      color: #000;
      font-size: 22px;
      text-align: center;
      font-weight: 600;
      line-height: 20px;
      margin: 10px 0px;
      @media (max-width: 320px) {
        font-size: 20px;
      }
    }
    .lab_name_div {
      display: flex;
      @media (max-width: 481px) {
        flex-direction: column;
      }
      .lab_name {
        display: flex;
        flex-direction: column;
        width: 50%;
        @media (max-width: 481px) {
          width: 100%;
        }
        label {
          color: #000;
          font-size: 14px;
          font-weight: 400;
          line-height: 10px;
          letter-spacing: 0.28px;
          text-transform: capitalize;
          margin: 15px 0px;
          @media (max-width: 320px) {
            font-size: 13px;
          }
        }
        input {
          border-radius: 4px;
          border: 1px solid #e8e8e8;
          background: #f5f5f5;
          padding: 10px;
          width: 90%;
          outline: none;
          @media (max-width: 481px) {
            width: 100%;
          }
        }
        .datepicker_input {
          border-radius: 4px;
          border: 1px solid #e8e8e8;
          background: #f5f5f5;
          padding: 10px;
          width: 90%;
          color: #767676;

          outline: none;
          @media (max-width: 481px) {
            width: 100%;
          }
        }
      }
    }
    .lab_name_add {
      .lab_names {
        display: flex;
        flex-direction: column;

        label {
          color: #000;
          font-size: 14px;
          font-weight: 400;
          line-height: 10px;
          letter-spacing: 0.28px;
          text-transform: capitalize;
          margin: 15px 0px;
        }
        .text_area {
          border-radius: 4px;
          border: 1px solid #e8e8e8;
          background: #f5f5f5;
          outline: none;
        }
      }
    }
    .btn_div_modal {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0px;
      button {
        border-radius: 4px;
        background: #0a22a8;
        border: none;
        padding: 10px;
      }
    }
  }
}
