.darkHeader {
  .darkHeader2 {
    position: absolute;
    top: 143px;
    right: 36px;
    background-color: rgb(39, 39, 39);
    border: 1px solid;
    padding: 20px;

    .appointment_list_control {
      color: #ffff;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
    }
    .main_alignment {
      margin-left: 14px;
      cursor: pointer;
      color: #ffff;
      font-size: 10px;
      font-weight: 300;
    }
    .top_border {
      border-top: 2px solid #ffffff1a;
      border-top: 2px solid rgba(255, 255, 255, 0.1019607843);
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
  td,
  th {
    background: rgb(20, 20, 20);
    border-bottom: 1px solid white;
    border-width: 0;
    color: #fff;
    font-weight: 400;
  }
  tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  }
  .dashboard_sub_conatiner {
    height: 30%;
    //   position: relative;
    .spinner_patient_loader {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px;
    }
    .dashSub_blue {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 25px;
      @media (max-width: 1050px) {
        flex-wrap: wrap;
      }
      @media (max-width: 676px) {
        flex-wrap: wrap;
      }

      .compo_name {
        display: flex;
        align-items: center;
        gap: 20px;
        // width: 75%;
        @media (max-width: 481px) {
          flex-wrap: wrap;
          font-size: 18px;
        }
        .office_list_tag {
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          @media (max-width: 481px) {
            width: 90px;
          }
        }
        .header_inp_box {
          background: rgba(25, 25, 27, 1);
          font-size: 14px;
          width: 350px;
          display: flex;
          align-items: center;
          border: 1px solid rgba(255, 255, 255, 0.09);
          padding-left: 10px;
          border-radius: 4px;
          @media (max-width: 481px) {
            width: 100%;
          }
          input {
            background-color: rgba(25, 25, 27, 1);
            color: #fff;
            font-weight: 257;
            border: none;
            outline: none;
            width: 100%;
            padding: 10px 10px 10px 5px;
            border-radius: 4px;
          }
          input::placeholder {
            color: #fff;
          }
        }
      }
      .subCompBtns {
        display: flex;
        gap: 10px;
        @media (max-width: 867px) {
          margin-top: 10px;
        }
        @media (max-width: 481px) {
          margin-top: 10px;
        }
        img {
          cursor: pointer;
        }
        .dash_btn {
          display: flex;
          align-items: center;
          gap: 10px;
          button {
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            border-radius: 4px;
            background: rgb(25, 25, 27);
            border: 1px solid rgb(46, 46, 46);
            padding: 10px 15px;
            display: flex;
            align-items: center;
            gap: 22px;
          }
        }
        button {
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          border: none;
          background: transparent;
          padding: 5px 8px;
          border-radius: 5px;
        }
        select {
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          border: 1px solid #2e2e2e;
          background: #19191b;
          padding: 5px 8px;
        }
      }
    }
    .card_container {
      width: 100%;
      padding: 20px;

      .card_container_heading {
        tr {
          th {
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
          }
        }
      }
      .card_container_data {
        vertical-align: middle;
        tr {
          td {
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            img {
              cursor: pointer;
            }
          }
        }
      }
      .pagination {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;

        button {
          height: 30px;
          gap: 8px;
          color: #fff;
          align-items: center;
          text-align: center;
          justify-content: center;
          background: #2d2d2d;
          border: 1px solid rgba(255, 255, 255, 0.27);
          font-weight: 300;
          font-size: 14px;
          display: flex;
          padding: 0px 20px;
          // / background-color: #fff; /
          border-radius: 1000px;

          cursor: pointer;

          &:hover {
            color: #ffff;
          }

          &.active {
            color: #ffff;
          }
        }
        span {
          display: flex;
          gap: 10px;
          button {
            height: 40px;
            width: 40px;
            color: #fff;
            background: #2d2d2d;
            border: 1px solid rgba(255, 255, 255, 0.27);
            font-size: 18px;
            font-weight: 500;
            border-radius: 100%;
            cursor: pointer;

            &:hover {
              border: 1px solid #409eee;
              background: #409eee;
              color: #ffff;
            }

            &.active {
              border: 1px solid #409eee;
              // / background-color: #0a22a8; /
              color: #fff;
              // / border: 1px solid #0a22a8; /
              background: #409eee;
            }
          }
        }
      }
    }
  }
  .action_icons {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    img {
      cursor: pointer;
    }
    svg {
      cursor: pointer;
    }
  }
}
.lightHeader {
  .lightHeader2 {
    position: absolute;
    top: 143px;
    right: 36px;
    background-color: #fff;
    border: 1px solid;
    padding: 20px;

    .appointment_list_control {
      color: #000;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
    }
    .top_border {
      border-top: 2px solid #00000029;
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
  td,
  th {
    background: #f8f9fe;
    border-bottom: 1px solid #00000029;
    border-width: 0;
    color: #fff;
    font-weight: 400;
  }
  tr {
    border-bottom: 1px solid#00000029;
  }

  .dashboard_sub_conatiner {
    height: 30%;
    //   position: relative;
    background-color: #f8f9fe !important;
    .spinner_patient_loader {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px;
    }
    .dashSub_blue {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 45px;
      @media (max-width: 1050px) {
        flex-wrap: wrap;
      }
      @media (max-width: 676px) {
        flex-wrap: wrap;
      }

      .compo_name {
        display: flex;
        align-items: center;
        gap: 20px;
        // width: 75%;
        @media (max-width: 481px) {
          flex-wrap: wrap;
          font-size: 18px;
        }
        .office_list_tag {
          color: #000;
          font-size: 18px;
          font-weight: 500;
          @media (max-width: 481px) {
            width: 90px;
          }
        }
        .header_inp_box {
          background: white;
          font-size: 14px;
          width: 350px;
          display: flex;
          align-items: center;
          border: 1px solid #7d7d7d17;
          padding-left: 10px;
          border-radius: 4px;
          @media (max-width: 481px) {
            width: 100%;
          }
          input {
            background-color: #fff;
            color: rgba(25, 25, 27, 1);
            font-weight: 350;
            border: none;
            outline: none;
            width: 100%;
            padding: 10px 10px 10px 5px;
            border-radius: 4px;
          }
          input::placeholder {
            color: rgba(25, 25, 27, 1);
          }
        }
      }
      .subCompBtns {
        display: flex;
        gap: 10px;
        @media (max-width: 867px) {
          margin-top: 10px;
        }
        @media (max-width: 481px) {
          margin-top: 10px;
        }
        img {
          cursor: pointer;
        }
        .dash_btn {
          display: flex;
          align-items: center;
          gap: 10px;
          button {
            color: #1e3441;
            font-size: 14px;
            font-weight: 300;
            border-radius: 4px;
            background: #fff;
            border: 1px solid #2c4a5b29;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            gap: 22px;
          }
        }
        button {
          color: #1e3441;
          font-size: 14px;
          font-weight: 500;
          border: none;
          background: #f8f9fe;
          padding: 5px 8px;
          border-radius: 5px;
        }

        select {
          color: #1e3441;
          font-size: 14px;
          font-weight: 500;
          border: 1px solid #2e2e2e;
          background: #19191b;
          padding: 5px 8px;
        }
      }
    }
    .card_container {
      width: 100%;
      padding: 20px;

      .card_container_heading {
        tr {
          th {
            color: #1e3441;
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
          }
        }
      }
      .card_container_data {
        vertical-align: middle;
        tr {
          td {
            color: #1e3441;
            font-size: 14px;
            font-weight: 400;
            img {
              cursor: pointer;
            }
          }
        }
      }
      .pagination {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-end;

        button {
          height: 30px;
          gap: 5px;
          align-items: center;
          text-align: center;
          justify-content: center;
          background: #fff;
          border: 1px solid rgba(0, 0, 0, 0.27);
          font-weight: 300;
          font-size: 14px;
          color: #1e3441;
          display: flex;

          color: #1e3441;

          padding: 0px 20px;
          // / background-color: #fff; /
          border-radius: 1000px;

          cursor: pointer;

          &:hover {
            color: #1e3441;
          }

          &.active {
            color: #1e3441;
          }
        }
        span {
          display: flex;
          gap: 10px;
          button {
            height: 40px;
            width: 40px;
            color: #1e3441;
            background: #ffff;
            border: 1px solid rgba(0, 0, 0, 0.27);
            font-size: 18px;
            font-weight: 500;
            border-radius: 100%;
            cursor: pointer;

            &:hover {
              border: 1px solid #409eee;
              background: #409eee;
              color: #fff;
            }

            &.active {
              // / background-color: #0a22a8; /
              color: #fff;
              border: 1px solid #409eee;
              background: #409eee;
            }
          }
        }
      }
    }
  }
  .action_icons {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    img {
      cursor: pointer;
    }
    svg {
      cursor: pointer;
    }
  }
}
