.dashboard_sub_conatiner {
  background: #0a22a8;
  height: 30%;
  //   position: relative;
  .dashSub_blue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    @media (max-width: 676px) {
      flex-wrap: wrap;
    }
    .compo_name {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      @media (max-width: 481px) {
        flex-wrap: wrap;
        font-size: 18px;
      }
    }
    .subCompBtns {
      display: flex;
      align-items: center;
      gap: 10px;
      @media (max-width: 481px) {
        margin-top: 10px;
      }
      button {
        color: #409eee;
        font-size: 14px;
        font-weight: 500;
        border: none;
        background: #fff;
        padding: 5px 8px;
        border-radius: 5px;
      }
    }
  }
  .card_container {
    width: 100%;
    .info_control {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
      .patient_boxes {
        background: #e7e7ff4a;
        width: 31%;
        padding: 10px 20px;
        @media (max-width: 767px) {
          width: 100%;
        }
        .patient_title {
          font-size: 18px;
          font-weight: 700;
          color: #000;
        }
        .patient_name {
          font-size: 14px;
          font-weight: 400;
          color: #000;
          margin: 5px 0 5px 0;
        }
      }
    }
    .single_patient_btn {
      margin-top: 20px;
      button {
        border: none;
        padding: 10px 15px;
        font-size: 14px;
        background: #0a22a8;
        color: #fff;
        font-weight: 600;
        border-radius: 6px;
        outline: none;
      }
    }
  }
}
