.AddNewCard_wrapper {
  padding: 20px;
  svg {
    position: relative;
    left: 436px;
    top: -8px;
    cursor: pointer;
  }
  .main_wrapper {
    .headline {
      padding: 10px 0;
      h1 {
        color: #000;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    .card_wrapper {
        
    }
  }
}
