.signout {
  margin-top: 20px;
  background-color: #ff5252;
  border-radius: 100px;
  width: 307px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  text-align: center;
  text-transform: capitalize;
}
